# This file is part of Workflow.
# Copyright (C) 2011, 2014 CERN.
#
# Workflow is free software; you can redistribute it and/or modify it
# under the terms of the Revised BSD License; see COPYING.txt file for
# more details.

include COPYING.txt
include CHANGES.txt
include README.rst
include tests/*.ini
include .coveragerc run-tests.sh pytest.ini
