# This file is part of Workflow.
# Copyright (C) 2011, 2014 CERN.
#
# Workflow is free software; you can redistribute it and/or modify it
# under the terms of the Revised BSD License; see LICENSE file for
# more details.

include docs/requirements.txt
include LICENSE
include tox.ini
include docs/*.rst docs/*.py docs/Makefile
include *.rst
include tests/*.ini tests/*.py
include .coveragerc .travis.yml pytest.ini
include *.py *.sh
include AUTHORS
include CHANGELOG
